body {
    font-family: monospace;
    margin: 0;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

article {
    text-align: center;
}

article img {
    width: 100%;
    max-width: 600px;
}

article p {
    opacity: 0.9;
}

article hr {
    max-width: 500px;
    border: 1px solid #bababa;
    border-radius: 10px;
    margin: 50px auto;
}

footer {
    text-align: center;
    font-size: 0.8em;
}